{% extends 'base.html' %}
{% load static %}

{% block metedescription %}

    This is cart page

{% endblock  %}


{% block title %}

    Cart - Kart Shop

{% endblock  %}


{% block content %}

{% if not cart_items %}

<div>
    <div class="text-center">
        <br>
        <h1 class="text-center title">Your cart is empty</h1>
        <br>
        <p class="text-center">Please click <a href="{% url 'shop:allProdCat' %}">Here</a> To continue Shopping</p>
    </div>
</div>

{% else %}

<div>
    <div class="text-center">
        <br>
        <h1 class="text-center">Your Shopping Cart</h1>
        <br>
    </div>

    <div class="row mx-auto">
        <div class="text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th colspan="5">
                            Your Items
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <a href="cart_item.product.get_absolute_url"><img src="{{cart_item.product.image.url}}" class="float-left rounded"></a>
                        </td>
                        <td class="text-left">
                            {{cart_item.product.name}}
                            <br>
                            SKU: {{cart_item.product.id}}
                            <br>
                            Price: {{cart_item.product.price}}
                            <br>
                            QTY: {{cart_item.quantity}} x {{cart_item}}
                        </td>
                        <td>
                            {{cart_item.sub_total}}
                        </td>
                        {% if cart_item.quantity < cart_item.product.stock %}
                            <td>
                                <a href="{% url 'mycart:add_cart' cart_item.product.id %}"><i class="fa-solid fa-plus"></i></a>
                                &nbsp;<a href="{% url 'mycart:cart_remove' cart_item.product.id %}"><i class="fa-solid fa-minus"></i></a>
                                &nbsp;<a href="{% url 'mycart:full_remove' cart_item.product.id %}"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        {% else %}
                            <td>
                                &nbsp;<a href="{% url 'mycart:cart_remove' cart_item.product.id %}"><i class="fa-solid fa-minus"></i></a>
                                &nbsp;<a href="{% url 'mycart:full_remove' cart_item.product.id %}"><i class="fa-solid fa-trash"></i></a>
                            </td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class=" text-center">
            <table class="table">
                <thead>
                    <tr>
                        <th>Checkout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Please Review Befor Proceeding
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="mx-auto">
                <a href="{% url 'shop:allProdCat' %}" class="btn btn-bg-secondary btn-block">Continue Shopping</a>
            </div>
        </div>
    </div>
</div>

{% endif %}

{% endblock  %}